rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow full access for authenticated storage vault operations
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
